<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard - Guava e-Hostels</title>
    <link rel="stylesheet" href="/css/staff/staffhome.css">
</head>
<body>
<header>
    <p> <span th:text="${staff.userName}"></span></p>
    <img th:src="@{/images/staff/{image}(image=${staff.photo})}" alt="staff Photo" class="profile-picture" />
</header>
<nav>
    <button class="tablink" onclick="openSection(event, 'tasks')">Tasks</button>
    <button class="tablink" onclick="openSection(event, 'clients')">Clients</button>
    <button class="tablink" onclick="openSection(event, 'notifications')">Notifications</button>
    <button class="tablink" onclick="openSection(event, 'settings')">Settings</button>
    <button class="tablink" onclick="openSection(event, 'earnings')">Earnings</button>
    <button class="tablink" onclick="openSection(event, 'support')">Support</button>
</nav>

<section id="tasks" class="tabcontent">
    <h2>Tasks</h2>
    <div id="home-listings-content">
        <!-- Homes will be listed here -->
    </div>
</section>

<section id="clients" class="tabcontent">
    <h2>All clients</h2>
    <div id="rental-history-content">
        <!-- Rental history will be listed here -->

        <div id="tenants-content" class="hidden">

            <h2>Tenants</h2>
            <input type="text" id="tenantSearch" placeholder="Search tenants...">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>ID Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tenant : ${tenants}">
                    <td th:text="${tenant.tenantId}"></td>
                    <td th:text="${tenant.firstName} + ' ' + ${tenant.lastName}"></td>
                    <td th:text="${tenant.email}"></td>
                    <td th:text="${tenant.idNumber}"></td>
                    <td>
                        <button th:attr="data-id=${tenant.tenantId}" class="update-btn">Update</button>
                        <button th:attr="data-id=${tenant.tenantId}" class="delete-btn">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button class="prev-page">Previous</button>
                <button class="next-page">Next</button>
            </div>
        </div>


        <div id="landlords" class="hidden">
            <h2>Landlords</h2>
            <input type="text" id="landlordSearch" placeholder="Search landlords...">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="landlord : ${landlords}">
                    <td th:text="${landlord.landlordId}"></td>
                    <td th:text="${landlord.firstName} + ' ' + ${landlord.lastName}"></td>
                    <td th:text="${landlord.email}"></td>
                    <td>
                        <button th:attr="data-id=${landlord.landlordId}" class="update-btn">Update</button>
                        <button th:attr="data-id=${landlord.landlordId}" class="delete-btn">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button class="prev-page">Previous</button>
                <button class="next-page">Next</button>
            </div>
        </div>

        <div id="buildings" class="hidden">
            <h2>Buildings</h2>
            <input type="text" id="buildingSearch" placeholder="Search buildings...">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Total Houses</th>
                    <th>Area</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="building : ${buildings}">
                    <td th:text="${building.buildingId}"></td>
                    <td th:text="${building.buildingName}"></td>
                    <td th:text="${building.totalHouses}"></td>
                    <td th:text="${building.area}"></td>
                    <td>
                        <button th:attr="data-id=${building.buildingId}" class="update-btn">Update</button>
                        <button th:attr="data-id=${building.buildingId}" class="delete-btn">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button class="prev-page">Previous</button>
                <button class="next-page">Next</button>
            </div>
        </div>

        <div id="houses" class="hidden">
            <h2>Houses</h2>
            <input type="text" id="houseSearch" placeholder="Search houses...">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Door Number</th>
                    <th>Status</th>
                    <th>Rent Amount</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="house : ${houses}">
                    <td th:text="${house.houseId}"></td>
                    <td th:text="${house.door_no}"></td>
                    <td th:text="${house.houseStatus}"></td>
                    <td th:text="${house.rentAmount}"></td>
                    <td>
                        <button th:attr="data-id=${house.houseId}" class="update-btn">Update</button>
                        <button th:attr="data-id=${house.houseId}" class="delete-btn">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button class="prev-page">Previous</button>
                <button class="next-page">Next</button>
            </div>
        </div>
    </div>
</section>

<section id="notifications" class="tabcontent">
    <h2>Notifications</h2>
    <div id="notifications-content">
        <!-- Notifications will be listed here -->
    </div>
</section>

<section id="settings" class="tabcontent">
    <h2>Settings</h2>
    <div id="settings-content" class="container">
        <!-- Profile Settings -->
        <div class="card">
            <h3>Profile Information</h3>
            <div>
                <img th:src="@{/images/staff/{image}(image=${staff.photo})}" alt="staff Photo" class="profile-picture"/>
                <form th:action="@{/staff/update/{staffId}(staffId=${staff.staffId})}" method="post" enctype="multipart/form-data">
                    <label for="profile-picture">Change Profile Picture</label>
                    <input type="file" id="profile-picture" name="image">
                    <label for="userName">User Name:</label>
                    <input type="text" id="userName" name="userName" th:value="${staff.userName}">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" th:value="${staff.firstName}">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" th:value=" ${staff.lastName}">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="${staff.email}">
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password">
                    <button type="submit" class="button">Save Changes</button>
                </form>
            </div>
        </div>

        <!-- Account Settings -->
        <div class="card">
            <h3>Account Settings</h3>
            <button class="button" onclick="deleteAccount()">Delete Account</button>
            <button class="button" onclick="confirmLogout()">Logout</button>
        </div>

        <!-- Notification Settings -->
        <div class="card">
            <h3>Notification Settings</h3>
            <form th:action="@{/staff/updateNotifications}" method="post">
                <label for="email-notifications">Email Notifications:</label>
                <input type="checkbox" id="email-notifications" name="emailNotifications" th:checked="${staff.emailNotifications}">
                <label for="sms-notifications">SMS Notifications:</label>
                <input type="checkbox" id="sms-notifications" name="smsNotifications" th:checked="${staff.smsNotifications}">
                <button type="submit" class="button">Save Changes</button>
            </form>
        </div>

        <!-- Privacy Settings -->
        <div class="card">
            <h3>Privacy Settings</h3>
            <form th:action="@{/staff/updatePrivacy}" method="post">
                <label for="profile-visibility">Profile Visibility:</label>
                <select id="profile-visibility" name="staffProfileVisibility">
                    <option value="public" th:selected="${staff.staffProfileVisibility == 'PUBLIC'}">Public</option>
                    <option value="private" th:selected="${staff.staffProfileVisibility == 'PRIVATE'}">Private</option>
                    <option value="friends" th:selected="${staff.staffProfileVisibility == 'COLLEAGUE'}">Colleagues only</option>
                </select>
                <button type="submit" class="button">Save Changes</button>
            </form>
        </div>
    </div>
</section>

<section id="earnings" class="tabcontent">
    <h2>Earnings</h2>
    <div id="payments-content">
        <!-- Payment details will be listed here -->
    </div>
</section>

<section id="support" class="tabcontent">
    <h2>Support</h2>
    <div id="support-content">
        <!-- Support information will be listed here -->
    </div>
</section>

<script src="/js/staff/staffhome.js"></script>
</body>
</html>
