<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenant Dashboard - Guava e-Hostels</title>
    <link rel="stylesheet" href="/css/tenant/tenant.css">
</head>
<body>
<header>
    <h1><span id="tenant-userName" th:text="${tenant.userName}">Tenant's Username</span></h1>
    <img class="profile-picture" th:src="@{/images/tenant/{image}(image=${tenant.photo})}" alt="Tenant Image">
</header>
<nav>
    <button class="tablink" onclick="openSection(event, 'home-listings')">Home Listings</button>
    <button class="tablink" onclick="openSection(event, 'rental-history')">Rental History</button>
    <button class="tablink" onclick="openSection(event, 'notifications')">Notifications</button>
    <button class="tablink" onclick="openSection(event, 'settings')">Settings</button>
    <button class="tablink" onclick="openSection(event, 'payments')">Payments</button>
    <button class="tablink" onclick="openSection(event, 'support')">Support</button>
</nav>

<section id="home-listings" class="tabcontent">
    <h2>Available Homes</h2>

    <div class="searchbar">
        <form th:action="@{/tenant/{tenantId}/home(tenantId=${tenantId})}" method="get">
            <input type="text" name="keyword" placeholder="Search for any building">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="pagination-controls">
        <a th:if="${currentPage > 0}" th:href="@{/tenant/{tenantId}/home(tenantId=${tenantId}, page=${currentPage - 1}, sortField=${sortField}, sortOrder=${sortOrder}, keyword=${keyword})}">Previous</a>
        <a th:if="${currentPage < totalPages - 1}" th:href="@{/tenant/{tenantId}/home(tenantId=${tenantId}, page=${currentPage + 1}, sortField=${sortField}, sortOrder=${sortOrder}, keyword=${keyword})}">Next</a>
    </div>

    <div id="home-listings-content">
        <!-- Homes will be listed here -->
        <div class="building-section">

            <div class="report-body">
                <div th:each="building : ${buildings}" class="building-card" th:onclick="'redirectToBuilding(' + ${building.buildingId} + ')'">
                    <div class="building-image">
                        <img th:src="@{/images/building/{image}(image=${building.photo})}" alt="Building Image">
                    </div>
                    <div class="building-details">
                        <p>Building Name: <span th:text="${building.buildingName}"></span></p>
                        <p>Demanded by <span th:text="${building.totalDemand}"></span> students</p>
                        <p>Area: <span th:text="${building.area}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add more homes here -->

    </div>
</section>

<section id="rental-history" class="tabcontent">
    <h2>Rental History</h2>
    <div id="rental-history-content">
        <!-- Rental history will be listed here -->

        <h2>My Homes</h2>
        <div class="card-container-horizontal">
            <div th:each="home : ${myHomes}" class="card" th:onclick="'redirectToHouse(' + ${home.houseId} + ')'">
                <div class="profile-img">
                    <img th:src="@{/images/house/{image}(image=${home.photo})}" alt="House Image">
                </div>
                <span th:text="'Your House number ' + ${home.door_no} + ' is in ' + ${home.building.area}"></span>
            </div>
        </div>


    </div>
</section>

<section id="notifications" class="tabcontent">
    <h2>Notifications</h2>
    <div id="notifications-content">
        <!-- Notifications will be listed here -->
        <div class="notifications-list">
            <div th:each="notification : ${notifications}" class="notification-item">
                <p th:text="${notification.message}"></p>
                <p th:text="${notification.date}"></p>
            </div>
        </div>
    </div>
</section>

<section id="settings" class="tabcontent">
    <h2>Settings</h2>
    <div id="settings-content" class="container">
        <!-- Profile Settings -->
        <div class="settings-card">
            <h3>Profile Information</h3>
            <div>
                <img th:src="@{/images/landlord/{image}(image=${tenant.photo})}" alt="tenant Photo" class="profile-picture"/>
                <form th:action="@{/tenant/update/{tenantId}(tenantId=${tenant.tenantId})}" method="post" enctype="multipart/form-data">
                    <label for="profile-picture">Change Profile Picture</label>
                    <input type="file" id="profile-picture" name="image">
                    <label for="userName">User Name:</label>
                    <input type="text" id="userName" name="userName" th:value="${tenant.userName}">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" th:value="${tenant.firstName}">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" th:value=" ${tenant.lastName}">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="${tenant.email}">
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password">
                    <button type="submit" class="button">Save Changes</button>
                </form>
            </div>
        </div>

        <!-- Account Settings -->
        <div class="settings-card">
            <h3>Account Settings</h3>
            <button class="button" onclick="deleteAccount()">Delete Account</button>
            <button class="button" onclick="confirmLogout()">Logout</button>
        </div>

        <!-- Notification Settings -->
        <div class="settings-card">
            <h3>Notification Settings</h3>
            <form th:action="@{/tenant/updateNotifications}" method="post">
                <label for="email-notifications">Email Notifications:</label>
                <input type="checkbox" id="email-notifications" name="emailNotifications" th:checked="${tenant.emailNotifications}">
                <label for="sms-notifications">SMS Notifications:</label>
                <input type="checkbox" id="sms-notifications" name="smsNotifications" th:checked="${tenant.smsNotifications}">
                <button type="submit" class="button">Save Changes</button>
            </form>
        </div>

        <!-- Privacy Settings -->
        <div class="settings-card">
            <h3>Privacy Settings</h3>
            <form th:action="@{/tenant/updatePrivacy}" method="post">
                <label for="profile-visibility">Profile Visibility:</label>
                <select id="profile-visibility" name="directorProfileVisibility">
                    <option value="public" th:selected="${tenant.tenantProfileVisibility == 'PUBLIC'}">Public</option>
                    <option value="private" th:selected="${tenant.tenantProfileVisibility == 'PRIVATE'}">Private</option>
                    <option value="friends" th:selected="${tenant.tenantProfileVisibility == 'NEIGHBOUR'}">My Neighbours only</option>
                </select>
                <button type="submit" class="button">Save Changes</button>
            </form>
        </div>
    </div>
</section>

<section id="payments" class="tabcontent">
    <h2>Payments</h2>
    <div id="payments-content">
        <!-- Payment details will be listed here -->
    </div>
</section>

<section id="support" class="tabcontent">
    <h2>Support</h2>
    <div id="support-content">
        <!-- Support information will be listed here -->
        <h2>Guava e-Hostels</h2>
        <h3>Unsupported format</h3>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repellendus eveniet deserunt animi culpa asperiores omnis natus, ullam molestiae? Tenetur voluptate error nostrum libero pariatur adipisci minima soluta aliquid amet.</P>
    </div>
</section>

<script src="/js/tenant/tenant.js"></script>
</body>
</html>
