<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenant Dashboard - Guava e-Hostels</title>
    <link rel="stylesheet" href="/css/tenant/tenant.css">
</head>
<body>
<header>
    <h1><span id="tenant-userName" th:text="${tenant.userName}">Tenant's Username</span></h1>
    <img class="profile-picture" th:src="@{/images/tenant/{image}(image=${tenant.photo})}" alt="Tenant Image">
</header>
<nav>
    <button class="tablink" onclick="openSection(event, 'home-listings')">Home Listings</button>
    <button class="tablink" onclick="openSection(event, 'rental-history')">Rental History</button>
    <button class="tablink" onclick="openSection(event, 'notifications')">Notifications</button>
    <button class="tablink" onclick="openSection(event, 'settings')">Settings</button>
    <button class="tablink" onclick="openSection(event, 'payments')">Payments</button>
    <button class="tablink" onclick="openSection(event, 'support')">Support</button>
</nav>

<section id="home-listings" class="tabcontent">
    <h2 class="available-homes-head">Available Homes</h2>

    <div class="searchbar">
        <form th:action="@{/tenant/{tenantId}/home(tenantId=${tenantId})}" method="get">
            <input type="text" name="area" placeholder="Area" class="search-input">
            <input type="text" name="maxDistance" placeholder="Max Distance" class="search-input">
            <input type="text" name="maxPrice" placeholder="Max Price" class="search-input">
            <input type="text" name="buildingName" placeholder="Building Name" class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>


    <div class="pagination-controls">
        <a th:if="${currentPage > 0}" th:href="@{/tenant/{tenantId}/home(tenantId=${tenantId}, page=${currentPage - 1}, sortField=${sortField}, sortOrder=${sortOrder}, keyword=${keyword})}">Previous</a>
        <a th:if="${currentPage < totalPages - 1}" th:href="@{/tenant/{tenantId}/home(tenantId=${tenantId}, page=${currentPage + 1}, sortField=${sortField}, sortOrder=${sortOrder}, keyword=${keyword})}">Next</a>
    </div>

    <div id="home-listings-content">
        <!-- Homes will be listed here -->
        <div class="building-section">

            <div class="report-body">
                <div th:each="building : ${buildings}" class="building-card" th:onclick="'redirectToBuilding(' + ${building.buildingId} + ')'">
                    <div class="building-image">
                        <img th:src="@{/images/building/{image}(image=${building.photo})}" alt="Building Image">
                    </div>
                    <div class="building-details">
                        <p>Building Name: <span th:text="${building.buildingName}"></span></p>
                        <p>Demanded by <span th:text="${building.totalDemand}"></span> students</p>
                        <p>Area: <span th:text="${building.area}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add more homes here -->

    </div>
</section>

<section id="rental-history" class="tabcontent">
    <h2>Rental History</h2>
    <div id="rental-history-content">
        <!-- Rental history will be listed here -->

        <h2>My Homes</h2>
        <div class="card-container-horizontal">
            <div th:each="home : ${myHomes}" class="card" th:onclick="'redirectToHouse(' + ${home.houseId} + ')'">
                <div class="profile-img">
                    <img th:src="@{/images/house/{image}(image=${home.photo})}" alt="House Image">
                </div>
                <span th:text="'Your House number ' + ${home.door_no} + ' is in ' + ${home.building.area}"></span>
            </div>
        </div>


    </div>
</section>

<section id="notifications" class="tabcontent">
<h2>Notifications</h2>
<div class="button-container">
    <button class="button round-button" id="toggleUsersList">Side Bar</button>
    <button class="button round-button" id="settingsBtn">Settings</button>
    <button class="button round-button" id="notificationsBtn">Notifications</button>
</div>

    <div class="chat-container " id="chat-page" th:data-tenant-firstname="${tenant.firstName}">

        <div class="users-list">
            <div class="users-list-container">
                <h2>Online Users</h2>
                <ul id="connectedUsers">
                </ul>
            </div>
            <div>
                <p id="connected-user-fullname"></p>
                <a class="logout" href="javascript:void(0)" id="logout">Logout</a>
            </div>
        </div>

        <div class="chat-area">
            <div id="chat-messages">
            </div>

            <form id="messageForm" name="messageForm" class="hidden">
                <div class="message-input">
                    <input autocomplete="off" type="text" id="message" placeholder="Type your message...">
                    <button>Send</button>
                </div>
            </form>
        </div>
    </div>

</section>

<section id="settings" class="tabcontent">
    <h2>Settings</h2>
    <div id="settings-content" class="container">
        <!-- Profile Settings -->
        <div class="settings-card">
            <h3>Profile Information</h3>
            <div>
                <img th:src="@{/images/landlord/{image}(image=${tenant.photo})}" alt="tenant Photo" class="profile-picture"/>
                <form th:action="@{/tenant/update/{tenantId}(tenantId=${tenant.tenantId})}" method="post" enctype="multipart/form-data">
                    <label for="profile-picture">Change Profile Picture</label>
                    <input type="file" id="profile-picture" name="image">
                    <label for="userName">User Name:</label>
                    <input type="text" id="userName" name="userName" th:value="${tenant.userName}">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" th:value="${tenant.firstName}">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" th:value=" ${tenant.lastName}">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="${tenant.email}">
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password">
                    <button type="submit" class="button">Save Changes</button>
                </form>
            </div>
        </div>

        <!-- Account Settings -->
        <div class="settings-card">
            <h3>Account Settings</h3>
            <button class="button" onclick="deleteAccount()">Delete Account</button>
            <button class="button" onclick="confirmLogout()">Logout</button>
        </div>

        <!-- Notification Settings -->
        <div class="settings-card">
            <h3>Notification Settings</h3>
            <form th:action="@{/tenant/updateNotifications}" method="post">
                <label for="email-notifications">Email Notifications:</label>
                <input type="checkbox" id="email-notifications" name="emailNotifications" th:checked="${tenant.emailNotifications}">
                <label for="sms-notifications">SMS Notifications:</label>
                <input type="checkbox" id="sms-notifications" name="smsNotifications" th:checked="${tenant.smsNotifications}">
                <button type="submit" class="button">Save Changes</button>
            </form>
        </div>

        <!-- Privacy Settings -->
        <div class="settings-card">
            <h3>Privacy Settings</h3>
            <form th:action="@{/tenant/updatePrivacy}" method="post">
                <label for="profile-visibility">Profile Visibility:</label>
                <select id="profile-visibility" name="directorProfileVisibility">
                    <option value="public" th:selected="${tenant.tenantProfileVisibility == 'PUBLIC'}">Public</option>
                    <option value="private" th:selected="${tenant.tenantProfileVisibility == 'PRIVATE'}">Private</option>
                    <option value="friends" th:selected="${tenant.tenantProfileVisibility == 'NEIGHBOUR'}">My Neighbours only</option>
                </select>
                <button type="submit" class="button">Save Changes</button>
            </form>
        </div>
    </div>
</section>

<section id="payments" class="tabcontent">
    <h2>Payments</h2>
    <div id="payments-content">
        <!-- Payment details will be listed here -->

        <h2>Guava e-Hostels</h2>
        <h3>Unsupported format</h3>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repellendus eveniet deserunt animi culpa asperiores omnis natus, ullam molestiae? Tenetur voluptate error nostrum libero pariatur adipisci minima soluta aliquid amet.</P>
    </div>
</section>

<section id="support" class="tabcontent" th:data-tenant-id="${tenantId}">
    <div class="container">
        <h2>Support</h2>

        <h3>Report an issue</h3>
        <div id="support-content" class="grid-container">
            <div class="report-issue">
                <textarea id="issue-description" placeholder="Describe your issue"></textarea>
                <button class="btn" onclick="reportIssue()">Report Issue</button>
                <h2>Reported Issues</h2>
                <ul id="issue-list"></ul>
            </div>

            <div class="support-section about-us">
                <h3>About Us</h3>
                <p>Welcome to Guava e-Hostels! We are committed to providing you with the best housing experience.</p>
            </div>

            <div class="support-section contact-us">
                <h3>Contact Us</h3>
                <form id="contact-form">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Your name">

                    <label for="user-email">Email:</label>
                    <input type="email" id="user-email" name="email" placeholder="Your email">

                    <label for="message">Message:</label>
<!--                    id message was changed to contact-message -->
                    <textarea id="contact-message" name="message" placeholder="Your message.. You will receive feedback in the notifications tab"></textarea>

                    <button class="btn" type="submit">Send Message</button>
                </form>
            </div>

            <div class="support-section faq">
                <h3>Frequently Asked Questions</h3>
                <div class="faq-item">
                    <h4>How do I report an issue?</h4>
                    <p>Use the issue description box above to describe your issue and click on 'Report Issue'.</p>
                </div>
                <div class="faq-item">
                    <h4>How can I contact support?</h4>
                    <p>You can email us at support@guavaehostels.com or call us at +123 456 7890.</p>
                </div>
                <!-- Add more FAQs as needed -->
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/tenant/tenant.js"></script>
</body>
</html>
