/* Reset default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E1E; /* Dark background */
    color: #E8E8E8; /* Light text color */
}

/* Header styles */
header {
    background-color: #242424;
    color: #E8E8E8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-weight: bold;
    font-size: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info button {
    background-color: transparent;
    border: none;
    color: #E8E8E8;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.user-info #director-username {
    margin-right: 20px;
}

/* Sidebar styles */
aside {
    width: 250px;
    height: 100%;
    background-color: #2B2B2B;
    position: fixed;
    top: 60px; /* Adjust to match header height */
    left: -250px;
    transition: left 0.3s ease;
    z-index: 50;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

aside.active {
    left: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: #E8E8E8;
    display: block;
}

ul li a:hover {
    background-color: #424242;
    border-radius: 4px;
}

/* Main content styles */
main {
    margin-top: 60px; /* Adjust to match header height */
    margin-left: 0; /* Adjust according to sidebar visibility */
    padding: 20px;
    transition: margin-left 0.3s ease;
}

main.active {
    margin-left: 250px;
}

main #content {
    padding: 20px;
    background: #2A2A2A;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

img {
    max-width: 150px;
    border-radius: 50%;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #333;
    color: #E8E8E8;
}

table, th, td {
    border: 1px solid #555;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #424242;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination button {
    background-color: #424242;
    color: #E8E8E8;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #555;
}

/* Input field styles */
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #E8E8E8;
}

input[type="text"]::placeholder {
    color: #bbb;
}

/* Button styles */
button.update-btn, button.delete-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
}

button.delete-btn {
    background-color: #F44336;
}

button.update-btn:hover, button.delete-btn:hover {
    opacity: 0.8;
}

/* Table hover effect */
table tbody tr:hover {
    background-color: #444;
}
