body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FF5A5F;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-weight: lighter;
}

header .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav {
  background-color: #f8acae;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tablink {
  background-color: #f8acae;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tablink:hover {
  background-color: #e14e50;
}

.container {
  padding: 20px;
}

.tabcontent {
  display: none;
  padding: 3px;
  background-color: white;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.button {
  background-color: #FF5A5F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #e14e50;
}

/* lksdj */

/* lets start with the home listings section */

.building-section {
    display: block;
    box-shadow: 0 4px 8px rgba(8, 0, 0, 0.1);
    border: 1px white solid;
    border-radius: 10px;
}

/* Style the search bar */
.searchbar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.searchbar input {
    width: 100%;
    max-width: 500px; /* Adjust max-width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    box-sizing: border-box;
}

.searchbar button {
    background-color: #22392e;
    color: white;
    border: 1px solid #034706;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.searchbar button:hover {
    background-color: #075a0a;
}

.searchbar form {
    display: flex;
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination-controls a {
    margin: 0 10px;
    color: #075a0a;
    text-decoration: none;
}

.pagination-controls a:hover {
    text-decoration: underline;
}

.report-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.building-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    color: rgb(17, 14, 14);
    border: 1px solid white;
    padding: 10px;
}

.building-card img {
    border: 1px solid rgba(212, 213, 220, 0.579);
    overflow: hidden;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    width: auto;
    height: 80%;
}

/* notifications */

.notifications-list {
    margin: 20px 0;
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* rental history */

.houses .card-container-horizontal {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
}

.houses .card-container-horizontal .card {
    flex: 0 0 auto;
    margin-right: 20px;
    color: white;
    border: 1px white solid;
}

.card img, .profile-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


/* i am using this card for the houses */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    color: rgb(34, 30, 30);
    border: 1px solid white;
    padding: 10px;
}